<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classificazione Multi-Classe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Classificazione Multi-Classe</h1>
        <form action="/results" method="post">
            <button type="submit">Esegui Classificazione</button>
        </form>
    </div>
</body>
</html>
